<p style="color: green"><%= notice %></p>

<h1>Shopify Flow Templates Marketplace</h1>
<p>Easily find new Shopify Flow templates for your store or upload and share your own.</p>


<div class="row mt-3">
    <% @flows.each do |flow| %>
        <div class="col-sm-6 mb-3">
            <div class="card">
                <div class="card-body">
                    <%= render flow %>
                    <p>
                        <%= link_to "Show", flow %>
                    </p>
                    <!--<small>
                        by user #<%= flow.user_id %>
                    </small>-->
                </div>
            </div>
        </div>
    <% end %>
</div>
