<p style="color: green"><%= notice %></p>

<h1>Flows</h1>

<%= link_to "New flow", new_flow_path, class: "btn btn-primary" %>

<div class="row mt-3">
    <% @flows.each do |flow| %>
        <div class="col-sm-6 mb-3">
            <div class="card">
                <div class="card-body">
                    <%= render flow %>
                    <p>
                        <%= link_to "Show", flow %>
                    </p>
                </div>
            </div>
        </div>
    <% end %>
</div>
