<div class="d-flex flex-column justify-content-center text-center align-items-center mt-5">
    <h1>Well, this is embarassing...</h1>
    <p>Sorry, this is not working properly. We know about this mistake and are working to fix it. <br>
    In the meantime go back to the <%= link_to "home page", flows_path %>.</p>
</div>