@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

h1 {
  font-family: "Plus Jakarta Sans", sans-serif;
  letter-spacing: -0.96px !important;
}

p,
a,
li {
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #f8f8f9 !important;
}

.navbar-brand {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 700;
}

.navbar-expand-lg {
  border-color: #f8f8f9 !important;
  border-bottom: 1px solid rgb(230, 230, 230) !important;
}

.card {
  transition: border 0.3s ease;
  border: 2px solid grey;
}

.card:hover {
  border: 2px solid #5433eb; /* Adds the hover border effect */
}

.btn {
  padding: 6px, 12px;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0rem -0.0625rem 0rem 0.0625rem rgba(0, 0, 0, 0.8) inset,
    0rem 0rem 0rem 0.0625rem rgba(48, 48, 48, 1) inset,
    0rem 0.03125rem 0rem 0.09375rem rgba(255, 255, 255, 0.25) inset;
  touch-action: manipulation;
}

.btn-primary {
  background-color: #303030;
}

.btn-primary:hover {
  background-color: #5433eb;
}

.btn-danger {
  background-color: #c31d1d;
}

.no-underline {
  text-decoration: none !important;
}

.purple {
  background-color: #5433eb !important;
}

.purple:hover {
  background-color: #7a5df0;
}

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
